
android-testing/.idea/misc.xml
android-testing/.idea/inspectionProfiles/profiles_settings.xml
android-testing/.idea/android-testing.iml
android-testing/.idea/modules.xml
android-testing/.idea/vcs.xml
