
android-testing/.idea/misc.xml
android-testing/.idea/inspectionProfiles/profiles_settings.xml
android-testing/.idea/android-testing.iml
android-testing/.idea/modules.xml
android-testing/.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/SQAII.iml
.idea/vcs.xml
android-testing/data/phone.json
android-testing/data/phone.json
android-testing/conf/credentials.json
